doctype html
html
    head
        title Chat Application
        link(rel='stylesheet', href='css/main.css')
        script(src="/socket.io/socket.io.js")
        script(src="/js/jquery-1.11.1.js")
        script(src="/js/etc.js")
    body
        div.container
            h1 Chat Application
            div#chat-box
                ul
                form(action='')
                    input(type="text", id="message", autocomplete="off")
                    button Send
        script.
            var socket = io();
            $('form').submit(function() {
                socket.emit('chatter', $('#message').val());
                $('#message').val('');
                return false;   
            });
            socket.on('chatter', function(message) {
                $('#chat-box ul').append($('<li>').text(getTime()+"  "+message));
            });